In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_csv('job_data.csv')

In [5]:
df.shape

(19901, 8)

In [6]:
df.head()

,Company Name,Number of Jobs,Location,Job Title,Job Type,Job URL,Experience Level,Date
0,Arcadia,3.0,"[[37.09024, -95.712891]]",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Senior Manager - Enterprise Commercial Operations,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,Senior,1.707783e+09
2,NaN,NaN,NaN,Senior Product Manager - Energy Analytics,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,Senior,1.707783e+09
3,NaN,NaN,NaN,Associate – Business Success,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,"Junior, Mid Level, Senior",1.707783e+09
4,Archive,1.0,"[[37.09024, -95.712891]]",NaN,NaN,NaN,NaN,NaN

In [7]:
df['Location'].head()

for i in df['Location']:
    if i == '-':
        df['Location'].replace(i, 'Remote', inplace=True)

In [8]:
df['Date'].head()

for i in df['Date']:
    if i != None:
        #unix to date
        df['Date'] = pd.to_datetime(df['Date'], unit='s')
    else:
        pass


df['Date'].head()

0                   NaT
1   2024-02-13 00:16:01
2   2024-02-13 00:16:01
3   2024-02-13 00:16:01
4                   NaT
Name: Date, dtype: datetime64[ns]

In [9]:
df.head()

,Company Name,Number of Jobs,Location,Job Title,Job Type,Job URL,Experience Level,Date
0,Arcadia,3.0,"[[37.09024, -95.712891]]",NaN,NaN,NaN,NaN,NaT
1,NaN,NaN,NaN,Senior Manager - Enterprise Commercial Operations,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,Senior,2024-02-13 00:16:01
2,NaN,NaN,NaN,Senior Product Manager - Energy Analytics,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,Senior,2024-02-13 00:16:01
3,NaN,NaN,NaN,Associate – Business Success,Full-Time,https://boards.greenhouse.io/arcadiacareers/jo...,"Junior, Mid Level, Senior",2024-02-13 00:16:01
4,Archive,1.0,"[[37.09024, -95.712891]]",NaN,NaN,NaN,NaN,NaT

In [10]:
df['Number of Jobs'].sum()

18811.0

In [11]:
x = df['Experience Level']

In [12]:
x.value_counts()

Experience Level
Senior                                             6633
Senior, Expert or higher                           3281
Junior, Mid Level, Senior                          1732
Internship                                         1397
Junior                                             1392
Mid Level, Senior                                  1085
Mid Level                                          1070
Junior, Mid Level                                  1057
-                                                   430
Expert or higher                                    318
Mid Level, Senior, Expert or higher                 119
Entry Level/New Grad                                113
Entry Level/New Grad, Junior, Mid Level              88
Entry Level/New Grad, Junior                         80
Junior, Mid Level, Senior, Expert or higher          29
Entry Level/New Grad, Junior, Mid Level, Senior      14
Name: count, dtype: int64

In [13]:
df[df['Experience Level'] == 'Internship'].head()

,Company Name,Number of Jobs,Location,Job Title,Job Type,Job URL,Experience Level,Date
13,NaN,NaN,NaN,Summer Engineering Intern,Internship,https://arena-club.breezy.hr/p/a4a2673d2812/apply,Internship,2023-10-30 15:22:29
371,NaN,NaN,NaN,Electrical Engineer Intern,Internship,https://boards.greenhouse.io/aurorainnovation/...,Internship,2024-03-08 00:18:38
374,NaN,NaN,NaN,Hardware Systems Engineering Intern,Internship,https://boards.greenhouse.io/aurorainnovation/...,Internship,2024-03-08 00:18:38
378,NaN,NaN,NaN,Lidar Engineering Intern,Internship,https://boards.greenhouse.io/aurorainnovation/...,Internship,2024-03-08 00:18:38
380,NaN,NaN,NaN,Mechanical Engineering Intern,Internship,https://boards.greenhouse.io/aurorainnovation/...,Internship,2024-03-08 00:18:38

In [14]:
# df

In [15]:
# df to csv
df.to_csv('job_data_with_updated_dates.csv', index=False)